
    

.sing-btn{
           
            padding: 8px 20px;
            width: 104px;
            height: 43px;
            background: #21B573;
            border-radius: 33px;
            text-align: center;
            color: white;
            border: none;

}
h1{
    font-size: 48px;
}
.green-color{
  color:   #21B573;
}
.top-bg{
    background-color:#F0FFF0;
}
.get-started-btn{
                width: 153px;
                height: 43px;
                left: 205px;
                margin-top: 15px;
                color: white;
                background: #21B573;
                border-radius: 33px;
                border: none;
                text-decoration: none;

}
.get-started-btn a{
    color: white;
    text-decoration: none;
}
.secound-banner{
    margin-top:  50px;
    margin-bottom: 80px;
                
                
               
                

}

.students{
    
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.online-courses{
    border: none;
    margin-top: 90px;
    margin-bottom: 0px;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    }

.testimonial{
    margin-left: 100px;
    margin-top: 80px;
}
.last-banner{
    background-color:  #282531;
    color: white;
    margin-top: 80px;
    height: 369px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 0px;

}

.margin-top{
    margin-top: 50px;
}

